#btnAS{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px; 
    width: 120px;
    height: 40px; 
    border-radius: 12px;
    background-color: var(--SecondaryLess);
    font-size: 16px;
    color: var(--Theme);  
}

.inputLogin{ 
    margin-bottom: 15px;
    height: 25px;
    margin-left: 7%;
    width: 75%;
    border-radius: 12px;
    padding-left: 20px;
    display: block;
}
 
.labelAS
{
    padding-bottom: 5px;
    font-size: 16px;
    color: var(--Texzt);
    padding-left: 10%
}

#confSenhaAS{
    padding-top: 5px;
}