#footer {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: var(--Secondary);
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;  
    position: fixed;
    top: 100%;  
    transform: translateY(-100%);
    color: var(--Theme);
    font-size: 18px;
    display: flex;
    justify-content: space-around; 
}

