#footer { 
    height: 50px;
    width: 100%;
    background-color: var(--Secondary);
    align-items: center; 
    position: fixed;
    top: 100%;  
    transform: translateY(-100%);
    color: var(--Theme);
    font-size: 18px;
    display: flex;
    justify-content: space-around; 
}

