#txtLogo{
    font-family: 'Julius Sans One'; 
}

body{
  background-color: #D2D2D2;
}

button{
  border: none;
  cursor: pointer;
}

input{
  border: none;
}

p, Link{
  text-decoration: none;
  font-family: 'Inter';
} 

* {
  padding: 0;
  margin: 0
}

i {
  cursor: pointer;
}

i:hover{
  transition: all 0.2s;
  color: var(--Background);
  transform: translateY(-2px);
} 