#txtLogo{
    font-family: 'Julius Sans One'; 
}

body{
  background-color: #D2D2D2;
}

button{
  border: none;
  cursor: pointer;
}

input{
  border: none;
}

p{
  text-decoration: none;
  font-family: 'Inter';
} 

* {
  padding: 0;
  margin: 0
}